@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'VazirMatn';
    src: url('../src/assets/font/Vazirmatn.ttf') format('truetype');
  }
  
  body {
    font-family: 'VazirMatn', sans-serif;
  }

  *{
    font-family: VazirMatn;
  }